body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #7aa3b4;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2 {
    color: #0f1823;
}
table {
    color: #474838;
}
